.all_items img {
    height: 150px;
}

.all_items h3 {
    position: absolute;
    bottom: 60px;
}
.all_items {
    height: 320px;
}

.one_item img {
    /*float: left;*/
    /*margin: 20px;*/
}

.one_item {
    height: 600px;
}

.main-icon{
    height: 250px;
}
.main-icon img{
    height: 180px;
}

.all_items .icon-container {
    position: absolute;
    bottom: 25px;
}

.icon-star img {
    height: 15px;
}

div .star {
    float: left;
}

.icon-heart img {
    height: 25px;
}
.icon-basket img {
    height: 30px;
}

div#price-container {
    display: inline-flex;
}

.liked-item-img img {
    height: 80px;
    margin: 5px 0;
}
.liked-item-img {
    text-align: center;
}

.icon-remove img {
    height: 30px;
}

.spinner input {
    text-align: right;
}

#page {
margin-top: 80px;
}

form.form-item {
    padding: 20px;
}

#feedback-grade{
    float: right;
}

.desc-area {
    width: 100%;
    height: 265px;
    border: 0;
}

#load-more img {
    height: 40px;
}
